:root {
    --main-color1: #EEE6CE;
    --main-color2: #262A53;
    --main-color3: #FFC93C;
    --main-color4: #B8405E;
    --sub-color1: #B8405E;
    --sub-color2: #FFE3E3;
    --sub-color3: #262A53;
    --sub-color4: #EEE6CE;
    --bg-color1: #77B2AF;
    --bg-color2: #FFA0A0;
    --bg-color3: #DBF6E9;
    --bg-color4: #77B2AF;
    --btnDeco-color1: #ECB236;
    --btnDeco-color2: #ECB236;
    --btnDeco-color3: #31326F;
    --btnDeco-color4: #ECB236;
}

.mainColor{
    background: var(--main-color1) !important;
}