/* leftDisplay */
.leftDisplay {
    /* height: 790px; */
    background: var(--main-color1);
    border-radius: 15px 15px 60px 60px;
    box-sizing: border-box;
}
.leftDisplay__header {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 18px;
    color: var(--sub-color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo_icon{
    background-image: url(../img/icons/kiwibird.svg);
    width: 30px;
    height: 22px;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.line {
    width: 100%;
    height: 4px;
    background: var(--sub-color1);
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    
}

.modeChange__title{
    margin-top: 15px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.modeChange__title h2 {
    font-weight: 600;
    font-size: 18px;
    color: var(--sub-color1);
}

.modeChange h3 {
    margin-left: 60px;
    font-weight: 600;
    font-size: 18px;
    color: var(--fontColorOp1);
    line-height: 30px;
}

.line2 {
    width: 45%;
    border-radius: 50px;
    height: 4px;
    background: var(--sub-color1);
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.line3 {
    margin: 20px auto;
    width: 80%;
    border-radius: 50px;
    height: 4px;
    background: var(--sub-color1);
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/* swipe */
.swipe__btn {
    margin: 0 auto;
    width: 300px;
    height: 100px;
}
.FED {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.FED img {
    width: 10%;
}
.WEBD img {
    width: 10%;
}
/* .swipeFED {
    width: 65px;
    height: 27px;
    background: #B8405E;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.btnBall{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #eee6ce;
} */

.buttons .btnBall:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    /* padding: 9px 4px; */
    background-color: var(--sub-color1);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  .buttons .checkbox:checked + .btnBall:before {
    content: " ";
    left: 42px;
    background-color: var(--main-color1);
  }
  
  .buttons .checkbox:checked ~ .layer {
    background-color: var(--sub-color1);
  }
  
  .buttons .btnBall,
  .buttons .btnBall:before,
  .buttons .layer {
    transition: 0.3s ease all;
  }

.btnBall,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.buttons {
  position: relative;
  top: 50%;
  width: 70px;
  height: 30px;
  /* margin: -20px auto 0 auto; */
  overflow: hidden;
}

.buttons.r,
.buttons.r .layer {
  border-radius: 100px;
}



.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.btnBall {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
  /* box-shadow: inset 5px 5px 4px 4px rgba(200, 200, 200, 0.2); */
}


.WEBD {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.swipeWEBD {
    /* width: 65px; */
    /* height: 27px; */
    /* background: #B8405E; */
    border-radius: 70px;
    display: flex;
    align-items: center;
}


/*  */
.leftDisplay__gallary {
    padding: 20px 26px !important;
    box-sizing: border-box !important;
}
.leftDisplay__monitor {
    margin: 0px auto;
    display: flex;
    border: 11px solid var(--sub-color1);
    align-items: center;
    width: 300px !important;
    height: 300px !important;
    /* background: #b8405e; */
    border-radius: 15px;
    z-index: 10000;
}
.img {
    /* background: url(../img/mainPhoto.jpg); */
    width: 90%;
    height: 100%;
    border-radius: 15px;
    /* margin: auto; */
    background-size: cover;
    /* background: #b8405e; */
}
.img > img {
    width: 300px;
    height: 300px;
    /* border-radius: 15px; */
}
  /* imgSelect */

  /* .mainImg {
    display: none;
  }
 .mainImg.show {
    display: block;
  }
 .birdImg {
    display: none;
  }
.birdImg.show {
    display: block;
  } */
  .photoGallary {
    position: relative;
  }
  .sticker__bread{
    display: none;
    z-index: 100000;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100px;
    
  }
  .sticker__tea{
    display: none;
    z-index: 100000;
    position: absolute;
    left: 5px;
    top: 150px;
    width: 100px;
  }
  .sticker__bird{
    display: none;
    z-index: 100000;
    position: absolute;
    right: 0;
    width: 100px;
  }
  .sticker__draw{
    display: none;
    z-index: 100000;
    position: absolute;
    right: 5px;
    top: 5px;
    rotate: -40deg;
    width: 90px;
  }
  .sticker__book{
    display: none;
    z-index: 1000;
    position: absolute;
    left: 100px;
    bottom: -20px;
    width: 110px;
  }

  .sticker__bread.show{
    display: block;
    
  }
  .sticker__tea.show{
    display: block;
   
  }
  .sticker__bird.show{
    display: block;
  
  }
  .sticker__draw.show{
    display: block;
    
  }
  .sticker__book.show{
    display: block;
    
  }

  .myMainProfile {
    position: relative;
  }

  .deco__sticker__WED {
    display: none;
  }
  .deco__sticker__WED.show {
    display: block;
  }
  .deco__sticker__FED {
    display: none;
  }
  .deco__sticker__FED.show {
    display: block;
  }
  /* .deco__sticker__WED .WEDcreative{
    z-index: 100000;
    position: absolute;
    right: 20px;
    bottom: 10px;
    rotate: 70deg;
    width: 100px;
  } */
  .deco__sticker__WED .creativity{
    z-index: 100000;
    position: absolute;
    left: 20px;
    top: 10px;
    rotate: -20deg;
    width: 80px;
  }
  .deco__sticker__WED .mustache{
    z-index: 100000;
    position: absolute;
    left: 90px;
    bottom: 70px;
    rotate: -10deg;
    width: 90px;
  }
  .deco__sticker__FED .monitor {
    z-index: 100000;
    position: absolute;
    left: 10px;
    bottom: 10px;
    rotate: -10deg;
    width: 110px;
  }
  

  /* aboutMe */

.leftDisplay__topBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutMe{
    width: 60%;
}
.aboutMeBtn {
    margin-left: 15px;
    padding: 10px 25px;
    background: var(--sub-color1);
    border-radius: 5px;
    color: #fff;
    /* box-shadow: 0 0.3em 0 #591A2A; */
    font-weight: 600;
    font-size: 18px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.aboutMeBtn::before {
    position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow:0 0.5em 0 0 var(--boxShadow0);
  transform: translate3d(0, 0.0em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.aboutMeBtn:hover {
    background: #ca9b9b;
    color: var(--boxShadow0);
}
.aboutMeBtn:hover::before {
    box-shadow:0 0.5em 0 0 var(--boxShadow0);
    transform: translate3d(0, 0.0em, -1em);
}
.aboutMeBtn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
  .aboutMeBtn:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

  /* slider */
.slider__btn {
    width: 30%;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prev {
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background: #ECB236;
    /* box-shadow: 0 0.3em 0 #835614; */
    /* background-image: url(../img/icons/left.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat; */

    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.prev img {
    width: 60%;
}
.prev::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.3em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.prev:hover {
    background: #facc6a;
    color: #927028;
}
.prev:hover::before {
    box-shadow:0 0.3em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
}
.prev:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
  .prev:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

  .next {
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background: #ECB236;
    /* box-shadow: 0 0.3em 0 #835614; */
    /* background-image: url(../img/icons/right.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat; */

    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.next img{
    width: 60%;
}
.next::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.3em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.next:hover {
    background: #facc6a;
    color: #927028;
}
.next:hover::before {
    box-shadow:0 0.3em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
}
.next:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
  .next:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

/* .next {
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background: #ECB236;
    box-shadow: 0 0.3em 0 #835614;
    background-image: url(../img/icons/right.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
} */

.myLike{
    padding: 0 50px;
}
.likeBtn img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}
.myLike h2{
    font-weight: 600;
    font-size: 18px;
    color: var(--sub-color1);
}
.likeBtn {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn1{
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #ECB236;
    /* background-image: url(../img/icons/bird.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto; */
    /* box-shadow: 0 0.2em 0 #835614; */
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    display: flex;
    align-items: center;
}

.btn1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.2em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.btn1:hover {
    background: #facc6a;
    color: #927028;
}
.btn1:hover::before {
    /* box-shadow:0 0.3em 0 0 #927028; */
    /* transform: translate3d(0, 0.0em, -1em); */
}
.btn1:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
.btn1:active::before {
box-shadow: 0 0 #ffe3e2;
transform: translate3d(0, 0, -1em);
}



.btn2{
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #ECB236;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.2em 0 #835614; */
    display: flex;
    align-items: center;
}

.btn2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.2em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.btn2:hover {
    background: #facc6a;
    color: #927028;
}
.btn2:hover::before {
    /* box-shadow:0 0.3em 0 0 #927028; */
    /* transform: translate3d(0, 0.0em, -1em); */
}
.btn2:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
.btn2:active::before {
box-shadow: 0 0 #ffe3e2;
transform: translate3d(0, 0, -1em);
}

.btn3{
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #ECB236;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.2em 0 #835614; */
    display: flex;
    align-items: center;
}

.btn3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.2em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.btn3:hover {
    background: #facc6a;
    color: #927028;
}
.btn3:hover::before {
    /* box-shadow:0 0.3em 0 0 #927028; */
    /* transform: translate3d(0, 0.0em, -1em); */
}
.btn3:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
.btn3:active::before {
box-shadow: 0 0 #ffe3e2;
transform: translate3d(0, 0, -1em);
}

.btn4{
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #ECB236;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.2em 0 #835614; */
    display: flex;
    align-items: center;
}
.btn4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.2em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.btn4:hover {
    background: #facc6a;
    color: #927028;
}
.btn4:hover::before {
    /* box-shadow:0 0.3em 0 0 #927028; */
    /* transform: translate3d(0, 0.0em, -1em); */
}
.btn4:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
.btn4:active::before {
box-shadow: 0 0 #ffe3e2;
transform: translate3d(0, 0, -1em);
}


.btn5{
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background: #ECB236;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.2em 0 #835614; */
    display: flex;
    align-items: center;
}

.btn5::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.2em 0 0 #927028;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.btn5:hover {
    background: #facc6a;
    color: #927028;
}
.btn5:hover::before {
    /* box-shadow:0 0.3em 0 0 #927028; */
    /* transform: translate3d(0, 0.0em, -1em); */
}
.btn5:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
.btn5:active::before {
box-shadow: 0 0 #ffe3e2;
transform: translate3d(0, 0, -1em);
}


.resetBtn {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    width: 100px;
    height: 29px;
    background: var(--sub-color1);
    border-radius: 5px;
    color: #fff;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.3em 0 #591A2A */
}

.resetBtn::before {
    position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow:0 0.5em 0 0 var(--boxShadow0);
  transform: translate3d(0, 0.0em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.resetBtn:hover {
    background: #ca9b9b;
    color: var(--boxShadow0);
}
.resetBtn:hover::before {
    box-shadow:0 0.5em 0 0 var(--boxShadow0);
    transform: translate3d(0, 0.0em, -1em);
}
.resetBtn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
  .resetBtn:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }