

body {
    background-image: url(../img/Pattern.png);
    background-size: 100% 100%;
}

.container {
    padding: 0 15%;
}
.container2{
    padding: 0 20px;
}

.fullDisplay {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.8fr;
    column-gap: 20px;
}










