/* rightDisplay */

.rightDisplay {
    /* height: 790px; */
    padding: 15px;
    background: var(--sub-color1);
    border-radius: 10px;
}

.rigthDisplay__sidebar{
    background: var(--main-color1);
    padding: 15px 10px;    
    border-radius: 5px;
    margin-bottom: 20px;
}
.rigthDisplay__sidebar__title {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.rigthDisplay__sidebar__title .tit {
    display: flex;
    flex-wrap: wrap;
}
.rigthDisplay__sidebar h2 {
    font-weight: 600;
    font-size: 18px;
    color: var(--sub-color1);
}
.sidebar__Ico {
    width: 27px;
    height: 21px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/sidBar.svg);
}

.rigthDisplay__musicplayer {
    padding: 20px;
    box-sizing: border-box;
    background: var(--main-color1);
    height: 180px;
    border-radius: 5px;
    border: 5px solid #73CDBD;
    margin-bottom: 20px;
    position: relative;
}
.rigthDisplay__musicplayer__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.rigthDisplay__musicplayer__title h2 {
    font-weight: 600;
    font-size: 18px;
    color: var(--sub-color1);
}
.rigthDisplay__musicplayer__view{
   
}

.rigthDisplay__musicplayer__view .music__view__title{
    margin: 10px 0;
    text-align: center;
}
.rigthDisplay__musicplayer__view .music__view__title h3{
    font-weight: 600;
    font-size: 25px;
    color: var(--sub-color1);
    margin: 5px 0;
}
.rigthDisplay__musicplayer__view .music__view__title h4{
    font-weight: 500;
    font-size: 16px;
    color: var(--sub-color1);
    margin: 5px 0;
}
.musicPlayer__btn{
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 28px;
    background: #73CDBD;
    border-radius: 5px;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.3em 0 #3B7A6F; */

}

.musicPlayer__btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow:0 0.3em 0 0 #3B7A6F;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


.musicPlayer__btn:hover {
    background: #73CDBD;
    color: #3B7A6F;
}
.musicPlayer__btn:hover::before {
    box-shadow:0 0.3em 0 0 #3B7A6F;
    transform: translate3d(0, 0.0em, -1em);
}
.musicPlayer__btn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.3em);
  }
  .musicPlayer__btn:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

.musicplayer__Ico {
    margin: 5px auto;
    width: 22px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/musicPlayer.svg);
}


.rigthDisplay__musicplayer__control{
    width: 100%;
    height: 100px;
}
.progress{
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
}
.bar{
    width: 20%;
    height: inherit;
    background: #5ddf3d;
    border-radius: 5px;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    font-size: 13px;
    color: var(--sub-color1);
    font-weight: 600;
}
.timer .current{}
.timer .duration{}
.control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 80px;
}

.control .play{
    display: block;
    /* width: 20px;
    height: 20px; */
    /* background-image: url("data:image/svg+xml,%3Csvg width='15' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27588 7L0.775879 13.0622L0.77588 0.937822L8.27588 7Z' fill='%23B8405E'/%3E%3C/svg%3E%0A"); */
    background-size: cover;
    position: absolute;
    left: 100px;
    bottom: -8px;
}

.control .stop{
    display: block;
    /* width: 20px;
    height: 20px; */
    /* background: url(../img/icons/musicPlayStop.svg) no-repeat; */
    background-size: cover;
    position: absolute;
    left: 100px;
    bottom: -8px;
}
/* music list */
.music__list {
    padding: 20px;
    display: none;
}

.music__list.show {
    display: block;
}

.music__list h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.music__list h3 .list {
    display: inline-block;
    vertical-align: -15px;
    width: 48px;
    height: 48px;
    background: url(../img/musicBar.png) no-repeat;
    background-position: -336px 0;
    scale: 0.7;
    margin-right: 5px;

}

.music__list h3 .close {
    display: inline-block;
    width: 48px;
    vertical-align: -16px;
    margin-left: 210px;
    height: 48px;
    background: url(../img/musicBar.png) no-repeat;
    background-position: -384px 0;
    scale: 0.7;
}

.music__list h3 .close:hover{
    background-color: #eeeeee !important;
    padding: 10px;
    display: inline-block;
}

.music__list ul {
    max-height: 200px;
    overflow-y: scroll;
}

.music__list li {
    border-bottom: 1px solid #000;
    list-style: none;
    position: relative;
    padding: 5px 0;
}

.music__list li.playing {
    color: #aaffa2;
    background: #b298c7;
}

.music__list strong {
    display: block;
    font-size: 20px;
}

.music__list li span {
    position: absolute;
    right: 0;
    top: 10px;
}

.music__list li em {
    font-style: normal;
}

/* decoration */

.rigthDisplay__decoration{
    background: var(--main-color1);
    height: 130px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.rigthDisplay__decoration__title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center
}
.rigthDisplay__decoration__title h3 {
    font-weight: 600;
    font-size: 18px;
    color: var(--sub-color1);
}
.decoration__Ico {
    width: 32px;
    height: 26px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/decoration.svg);
}


.rigthDisplay__decoration .decoBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.deco1 {
    position: relative;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F7EFDD;
    border: 4px solid var(--sub-color1);
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);

}

.deco1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.deco1:hover {
}
.deco1:hover::before {
    transform: translate3d(0, 0.0em, -1em);
}
.deco1:active {
    background: #ffe9e9;
    transform: rotate(90deg);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);

    /* transform: translate(0em, 0.3em); */
  }

  .deco1:active::before {
    box-shadow: inset 0.3em 0 0 0 #d1c7b1;
    transform: translate3d(0, 0, -1em);
  }


.deco2 {
    position: relative;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    background: #262A53;
    border: 4px solid var(--sub-color1);
}

.deco2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.deco2:hover {
}
.deco2:hover::before {
    transform: translate3d(0, 0.0em, -1em);
}
.deco2:active {
    background: #262A53;
    transform: rotate(90deg);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);

    /* transform: translate(0em, 0.3em); */
  }

  .deco2:active::before {
    box-shadow: inset 0.3em 0 0 0 #161830;
    transform: translate3d(0, 0, -1em);
  }

.deco3 {
    position: relative;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ECB236;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    border: 4px solid var(--sub-color1);
}

.deco3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.deco3:hover {
}
.deco3:hover::before {
    transform: translate3d(0, 0.0em, -1em);
}
.deco3:active {
    background: #ECB236;
    transform: rotate(90deg);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);

    /* transform: translate(0em, 0.3em); */
  }

  .deco3:active::before {
    box-shadow: inset 0.3em 0 0 0 #a57b20;
    transform: translate3d(0, 0, -1em);
  }

.deco4 {
    position: relative;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    background: var(--sub-color1);
    border: 4px solid var(--sub-color1);
}

.deco4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.0em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.deco4:hover {
}
.deco4:hover::before {
    transform: translate3d(0, 0.0em, -1em);
}
.deco4:active {
    background: var(--sub-color1);
    transform: rotate(90deg);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);

    /* transform: translate(0em, 0.3em); */
  }

  .deco4:active::before {
    box-shadow: inset 0.3em 0 0 0 #7c243a;
    transform: translate3d(0, 0, -1em);
  }

.btnDeco {
    align-items: center;
    margin: 0 auto;
    display: flex;
    width: 5px;
    height: 20px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
}
.rigthDisplay__game{
    background: var(--main-color1);
    height: 370px;
    border-radius: 5px;
}

.rigthDisplay__game__title h3{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: var(--sub-color1);
    padding: 20px;
}
.gameList__title h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--sub-color1);
    padding: 0 30px 10px;
}

.gameList__games {
    padding: 15px 30px;
    box-sizing: border-box;


}
.gameRanking {
    text-align: center;
    width: 230px;
   box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    margin: 0 auto;
}
.gameList__games ul li {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px;
}
.gameList__games ul li:hover {
    background: rgba(0,0,0,0.6);
    color: var(--main-color1);
    cursor: pointer;

}

.gameStartBtn{
    display: block;
    position: relative;
    margin: 20px auto;
    width: 143px;
    height: 40px;
    background: var(--sub-color1);
    border-radius: 5px;
    color: #fff;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* box-shadow: 0 0.3em 0 #591a2a; */
    font-weight: 600;
    font-size: 18px;
}

.gameStartBtn::before {
    position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow:0 0.5em 0 0 #591A2A;
  transform: translate3d(0, 0.0em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.gameStartBtn:hover {
    background: #ca9b9b;
    color: #591A2A;
}
.gameStartBtn:hover::before {
    box-shadow:0 0.5em 0 0 #591A2A;
    transform: translate3d(0, 0.0em, -1em);
}
.gameStartBtn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
  .gameStartBtn:active::before {
    box-shadow: 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

.gameStartBtn h2 {
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
