/* rightDisplay */

.rightDisplay {
    /* height: 790px; */
    padding: 15px;
    background: #B8405E;
    border-radius: 10px;
}

.rigthDisplay__sidebar{
    background: #eee6ce;
    padding: 20px 10px;    
    border-radius: 5px;
    margin-bottom: 20px;
}
.rigthDisplay__sidebar__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.rigthDisplay__sidebar h2 {
    font-weight: 600;
    font-size: 18px;
    color: #B8405E;
}
.sidebar__Ico {
    width: 32px;
    height: 26px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/sidBar.svg);
}

.rigthDisplay__musicplayer {
    padding: 20px;
    box-sizing: border-box;
    background: #eee6ce;
    height: 150px;
    border-radius: 5px;
    border: 5px solid #73CDBD;
    margin-bottom: 20px;
    position: relative;
}
.rigthDisplay__musicplayer__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.rigthDisplay__musicplayer__title h2 {
    font-weight: 600;
    font-size: 18px;
    color: #B8405E;
}
.musicPlayer__btn{
    margin-right: 10px;
    width: 35px;
    height: 28px;
    background: #73CDBD;
    border-radius: 5px;
    box-shadow: 0 0.3em 0 #3B7A6F;

}
.musicplayer__Ico {
    margin: 5px auto;
    width: 22px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/musicPlayer.svg);
}


.rigthDisplay__musicplayer__control{
    width: 100%;
    height: 100px;
    padding-top: 50px;
}
.progress{
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
}
.bar{
    width: 20%;
    height: inherit;
    background: #5ddf3d;
    border-radius: 5px;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    font-size: 13px;
    color: #B8405E;
    font-weight: 600;
}
.timer .current{}
.timer .duration{}
.control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 80px;
}
.control .play{
    display: block;
    width: 11px;
    height: 20px;
    background: url(../img/icons/musicPlay.svg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 130px;
    bottom: 6px;
}



.rigthDisplay__decoration{
    background: #eee6ce;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
}

.rigthDisplay__decoration__title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center
}
.rigthDisplay__decoration__title h3 {
    font-weight: 600;
    font-size: 18px;
    color: #B8405E;
}
.decoration__Ico {
    width: 32px;
    height: 26px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/decoration.svg);
}


.rigthDisplay__decoration .decoBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.deco1 {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F7EFDD;
    border: 5px solid #B8405E;
}
.deco2 {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #262A53;
    border: 5px solid #B8405E;
}
.deco3 {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ECB236;
    border: 5px solid #B8405E;
}
.deco4 {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #B8405E;
    border: 5px solid #B8405E;
}
.btnDeco {
    margin: 9px auto;
    display: block;
    width: 5px;
    height: 20px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
}
.rigthDisplay__game{
    background: #eee6ce;
    height: 370px;
    border-radius: 5px;
}

.rigthDisplay__game__title h3{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #B8405E;
    padding: 20px;
}
.gameRanking__title h2{
    font-size: 20px;
    font-weight: 600;
    color: #B8405E;
    padding: 0 30px 10px;
}
.gameRanking {
    text-align: center;
    width: 230px;
   box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
}
.gameRanking ul li {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
}

.gameStartBtn{
    margin: 20px auto;
    width: 143px;
    height: 40px;
    background: #b8405e;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.3em 0 #591a2a;
    font-weight: 600;
    font-size: 18px;
}

.gameStartBtn h2 {
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
